.label {
  display: flex;
  flex-direction: column;
  width: fit-content;

  font-size: 24px;
  font-weight: 400;
}

.input {
  font-size: 20px;
  font-weight: 500;

  margin-top: 5px;
}

.form {
  padding: 10px 150px 10px 10px;
}
.container {
  border: 2px solid black;
  width: fit-content;
}
