.list {
  padding: 0;
}

.item {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.button {
  margin-left: 10px;
  height: fit-content;
}

.name {
  font-size: 20px;
  font-weight: 500;
}
